.autoplay > div p {
	line-height: 24px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 90px 0px;
	border: 2px solid #777;
	height: 180px;
	width: 180px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.slick-prev {
    float: none;
    bottom: -80px;
    right: 52%;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background: url("../images/thin_left_arrow_333.png") 0% 50% no-repeat;
    transition: right 0.2s;
}

.slick-next {
    float: none;
    bottom: -80px;
    left: 52%;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    background: url("../images/thin_right_arrow_333.png") 100% 50% no-repeat;
    transition: left 0.2s;
}
.slick-prev, .slick-next {
    position: absolute;
    display: inline-block;
    line-height: 0;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    outline: none;
    margin-top: -50px !important;
}