
/********************************
 * generic als elements styling
 ********************************/
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}
.als-wrapper > li p {
	line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 90px 0px;
	border: 2px solid #777;
	height: 180px;
	width: 180px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}


/**************************
 * specific als elements
 * styling for #lista1
 **************************/

#lista1 {
	margin: 60px auto 80px auto;
}

#lista1 .als-item {
	margin: 0px 30px;
	min-height: 152px;
	min-width: 128px;
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista1 .als-prev, #lista1 .als-next {
	top: 58px;
	width: 15px;
	height: 22px;
}

#lista1 .als-prev {
	left: 90px;
}

#lista1 .als-next {
	right: 100px;
}

/************************
 * specific als element
 * styling for #lista2
 ***********************/

#lista2 {
	margin-bottom: 80px;
}

#lista2 .als-item {
	margin: 10px 0px;
	min-height: 152px;
	min-width: 128px;
}

#lista2 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista2 .als-prev, #lista2 .als-next {
	left: 460px;
	width: 22px;
	height: 15px;
}

#lista2 .als-prev {
	top: -25px;
}

#lista2 .als-next {
	bottom: -20px;
}

#lista2 .als-item {
	vertical-align: middle;
}

/*********************
 * footer style
 ********************/



#footer p {
	position: relative;
	margin: 5px auto 10px auto;
	width: 960px;
	font-size: 12px;
}

#footer p.ultimo {
	margin-bottom: 5px;
}
