body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, main, footer {
  padding-left: 240px;
}

.danger, .success {
    color:white;
}

.tabs li .active {
    border-bottom: 3px solid #00b0ff;
    width: 100%;
    color: grey;
}

.tabs li a {
     color: grey;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}