body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.danger, .success {
    color:white;
    padding: 5%;
}

.tabs li .active {
    border-bottom: 3px solid #00b0ff;
    width: 100%;
    color: grey;
}

.tabs li a {
     color: grey;
}
.brand-logo img, .my-pix {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.my-pix  {
  border-radius: 4px;
}

.side-nav {
  background: rgba(63,60,65,.9);
}


.collapsible-accordion {
  margin-top: 30% !important;
}

.collapsible-accordion li a {
  color:white !important;
  font-weight: 300;
}

.collapsible-accordion > li, .collapsible-accordion > li ul li  {
  border-bottom: 1px dotted rgba(53, 52, 53, 0.9);
}

.collapsible-accordion > li ul li a {
  color: #000000 !important;
}

.footer-copyright {
  color:#000000 !important;
}

.fa-youtube-play {
  color: #A00;
}

.pagination li.active {
  background: #1E76C1;
  color: #ffffff;
  font-weight: 400;
}

body { 
  background:#F1F2F1;
}

.card-content {
  min-height: 300px;
}

.col-md-6 h2 {
  border-bottom: 1px solid #ccc;
  padding:0 2% 2%;
}

