body {
  height:100%;
  background:center no-repeat fixed url('../images/bg4.jpg');
  background-size: cover;
  color:#444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

html {
 position: relative;
 min-height: 100%;
}

@media (min-width:768px) {
  h1 {
    font-size:58px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200
  }
}

.row {
  margin-bottom: 20px;
}

#myWorkContent{
  width:100%;
  height:250px;
  border: 2px solid #bed5cd;
  overflow-x: scroll;
  overflow-y: hidden;
}
#myWorkContent a {
  display: inline;
  float:left
}

#myWorkContent a img {
  width: 250px;
  height: auto;
}

.cuadro_intro_hover{
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 2px;
  border: 1px solid #f5f5f5;
  background-color: #f8f8f8;
}
.cuadro_intro_hover:hover .caption{
  opacity: 1;
  transform: translateY(-260px);
  -webkit-transform:translateY(-260px);
  -moz-transform:translateY(-260px);
  -ms-transform:translateY(-260px);
  -o-transform:translateY(-260px);
  border-radius: 2px;
}
.cuadro_intro_hover img{
  z-index: 4;
}

.cuadro_intro_hover p {
  text-align:center; 
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}

.cuadro_intro_hover .caption{
  position: absolute;
  top:260px;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  width: 100%;
}
.cuadro_intro_hover .blur{
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.caption-text h3 {
  border-bottom:1px solid white; 
  padding:10px;
  font-size: 18px;
  color: #f8f8f8;
  text-align: center;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
  
}

.cuadro_intro_hover p img {
  height: 100%;
  width:auto;
  vertical-align: middle;
}
.cuadro_intro_hover .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top:-20px;
  width: 100%;
}

a {
  color:#999;
}

a:hover {
  color:#111;
}

.btn,.well,.panel {
  border-radius:0;
}

.btn-danger {
  background-color:#f44d3c;
}

.text-danger, a.text-danger {
  color:#f44d3c;
}

.btn-huge {
  padding:17px 22px;
  font-size:22px;
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans, btn-primary {
  background-color: #337ab7;
  color:#ffffff;
  border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
  padding: 14px;
  color:#ffffff;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#09387A;
  color:#333;
}

.navbar-trans li>a:hover {
  background-color:#2e6da4;
  color:#fff;
  opacity:0.5;
}

.navbar-trans a{
  color:#ffffff;
  letter-spacing:1px;
}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
  padding-top:70px;  
  padding-bottom:50px;
  height:100vh;
  min-height:calc(100% - 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (min-width:768px) {
  .v-center {
    height: 100;
        // overflow: visible;
        // margin: auto;
        // position: absolute;
        //top: 0; left: 0; bottom: 0; right: 0;
        //margin-top: 5%;
        font-family: 'Open Sans', sans-serif;
        
      }
    }

    #section1 {
      background-color: rgba(0,0,0,0.7);
      color:#fff;
      font-family: 'Open Sans', sans-serif;
    }

    #section2 {
      background-color: #fff;
      height: 100%;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #e6e6e6;
    }

    body > .container {
      padding: 60px 15px 0;
    }

    .container .text-muted {
      margin: 20px 0;
    }

    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }


    footer .nav>li>a {
      padding: 3px;
      color: #f44d3c;
    }

    footer .nav>li>a:hover {
      background-color:transparent;
      color:#fff;
    }

    .video_thumbnail {
      width: 40%;
      float: left;
      min-height: 100px;
      margin-right:2%; 
      margin-left: 2%;
    }

    .video_thumbnail {
      margin-top: 10%;
      padding-right: 5%;
    }
    .list_videos {
      width: 100%;
      background: #ffffff;
      padding: 1%;
      clear: both;
      margin-bottom: 2%;
    }

    .list_videos .video_info {
      width: auto;
      min-height: 150px;
      padding-top: 10%;
    }

    .video_info {
     width: 50%;
     padding-right: 2%;
   }

   .fa-heart-o {
    color: #A00;
  }

  .bg-white {
    background: white;
  }

  .video_frame {
   padding-top: 2%;
 }

 .related_videos_wrapper {
  margin-top: -20px;
}

.related_videos_wrapper h3 {
  padding: 2%;
}

.login_form {
  margin-top: 15%;
}

.wrapper {
  width: 90%;
  clear: both;
  margin: auto;
}

.error::-webkit-input-placeholder {
  color: #A00
}

.noerror::-webkit-input-placeholder {
  color: #cccccc
}
.preloader-wrapper img {
  width: 50px;
  height: auto;
}
.video_wrapper iframe {
  width: 100%;
  height: 500px;
}

.video_details p {
  border-top: 1px solid #ccc;
  padding: 1% 0;
  font-size: 14px;
  text-align: justify;
}
.media img {
  width:60px;
}

.video_category {
  padding: 2%;
  border-bottom: 1px dotted #777;
  font-weight: 200;
}

.caption-text h3 {
  width: auto;
  text-overflow: ellipsis;
}

.btn {
  border: none !important;
  font-weight: 200;
}

.pull-right >.dropdown-menu {
  z-index:1111;
}

.comment {
  margin-bottom: 5%;
  width: auto;
}

.ibox-content {
  background-color: #FFFFFF;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #E7EAEC;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.hr-line-dashed {
  border-top: 1px dashed #E7EAEC;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

.ibox-content h2 {
  font-size: 24px;
  font-weight: 100;
}

.search-result p {
  text-overflow: ellipsis;
  font-size: 12px;
  margin-top: 5px;
}

.search-result h3 > a {
  color: #428bca;
}

.search-result .search-link {
  color: #006621;
}

.resent-grid-img {
  position: relative;
}

.time {
  position: absolute;
  top: 92% !important;
  right: 0%;
  display: block;
}

.clck {
  position: absolute;
  bottom: 1%;
  right: 9%;
  display: block;
  z-index: 9;
}

time p {
  font-size: 12px;
  margin: 0;
  color: #FFF;
  padding: .2em .5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
}

.recommended-grid-info {
  box-shadow: 0px 0 2px #C1C1C1 !important;
  background: none;
}

.recommended-grid-info h3 {
  margin: 0;
  overflow: hidden;
  height: 54px;
}
.h3, h3 {
  font-size: 16px;
}

.resent-grid-info ul {
  padding: 0;
  margin: 0;
}

.resent-grid-img a {
  display: block;
}

.resent-grid-info {
  background: #f7f7f7;
  padding: 1em;
  margin-bottom: 4%;
}

.recommended-grid-info ul li.right-list {
  text-align: right;
}

.recommended-grid-info ul li {
  display: inline-block !important;
  width: 49%;
}

.resent-grid-info ul li {
  display: inline-block;
}

.youtube-thumbnails {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.footer .container p {
  padding: 2%;
}
.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.form-group{position: relative;}
.form-group .login-field-icon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 3px;
  transition: all 0.25s ease 0s;
  padding-top: 2%;
}
.login-modal{
  width:100%;
  padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {
  background: #184B94 !important;color:#fff;
}
.modal-register-btn{
  margin: 4% 33% 2% 33% ;
  width:100%;
}
.login-modal input{
  height:40px; box-shadow: none; border:1px solid #ddd;
}
.modal-body-left{
  float:left; 
  width:50%; 
  padding-right:4%; 
  border-right:4px solid #ddd;
}
.modal-body-right{
  float:right; 
  width:47%;
}

.login-link{
  padding:0 20%;
}
.modal-social-icons{
  padding:0 10%;
}
.facebook, .twitter, .github {
  width:100%;
  height:40px; 
  padding-top:2%;
  margin-top:2%;
}
.modal-icons{
  margin-left: -10px;
  margin-right: 20px;
}
.twitter, .twitter:hover{ 
  background-color: #00aced; 
  border:2px solid #00aced;
  color: #fff;
}
.facebook, .facebook:hover{
  background-color: #3b5999; 
  border:2px solid #3b5999;
  color:#fff;
}
.github, .github:hover{
  background-color: #000000; 
  border: 2px solid #007bb6; 
  color:#fff;
}
#social-icons-conatainer{
  position: relative;
}
#center-line{
  position: absolute;  
  right: 265.7px;
  top: 80px;
  background:#ddd;  
  border: 4px solid #DDDDDD;
  border-radius: 20px;
}
.modal-login-btn{
  width:100%;
  height:40px; 
  margin-bottom:10px;
}
#modal-launcher{
  margin: 30% 0 0 30%; 
}
.top-grids {
  min-height: 280px;
}
.featured-videos {
  color: #337ab7;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
}
.v-cat li a {
  text-decoration: none;
}

.v-cat li a:hover{
  color: rgb(30, 93, 173);
}

.pull-down {
  margin-top: 120px;
  font-weight: 200;
}

.author {
  color: #337ab7;
  font-size: 14px;
  font-style: italic;
}

.f-videos {
  margin-right: 15px !important;
  margin-left: 15px !important;
  border-bottom: 1px solid #ccc;
}

.border {
  border: 1px solid #ccc !important;
  margin-bottom: 5px;
}

.lato {
  font-weight: 200;
}

.panel-primary {
  border: none;
  padding-left: none;
}

.video-description {
  background: #ffffff;
  min-height: 200px;
  padding: 2%;
  line-height: 30px;
}
.video-description h3 {
  font-family: bold;
  color: #000000;
  font-size: 20px;
}

.video-author img {
  height:50px; 
  width:50px;  
  margin-right:5px;
}

.video-author a {
  display: inline-block;
  height: 22px;
  color: #333;
  font-weight: 500;
  max-width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  margin-top: 5px;
}

.panel-footer {
  background: #ffffff;
}

.smt-btn {
  margin-bottom: 40px; 
}

.